.control-label.required:after {
    color: #FF4D00;
    content: "*";
    position: relative;
    top: 3px;
    display: inline-block;
}
.control-label.required1:after {
    color: #FF4D00;
    content: "*";
    position: relative;
    top: 3px;
    left: 5px;
    display: inline-block;
}
/*中间导航开始*/
.container .breadcrumb{
    height: 65px;
    font-size:14px;
    padding-left:40px;
    line-height: 50px;
}
.container .breadcrumb a{
    color: #0096FF;
}
.container .breadcrumb .active{
    color: #000;
}
/*中间导航结束*/
/*cap*/
.container .cap{
    font-size:16px;
    font-weight: bold;
    margin-top: 45px;
    padding-bottom: 28px;
    border-bottom: 1px solid #cccccc;
}
.container p{
    font-size:14px;
    margin-top:25px;
}
/*cap*/
label{
    font-weight: 400;
    color: #000000;
}
.form-control{
    margin-top:15px;
}
.form-group input{
    width: 35%;
}
@media screen and (max-width: 550px) {
    .form-group input{
        width: 50%;
    }
}

